body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #d32f2f; /* 火锅店主题红色 */
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav#mainNav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav#mainNav a:hover,
nav#mainNav a.active {
    background-color: #b71c1c; /* 深一点的红色 */
}

/* 移除Tab键焦点时的默认外框 */
nav#mainNav a:focus {
    outline: none;
}

nav#mainNav button#logoutButton {
    margin-left: 20px;
    background-color: #c62828; /* 比导航栏稍暗的红色 */
    color: white;
    border: none; /* 移除边框 */
    padding: 8px 15px; /* 调整内边距使其与链接类似 */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold; /* 加粗字体 */
    transition: background-color 0.3s ease;
}

nav#mainNav button#logoutButton:hover,
nav#mainNav button#logoutButton:focus {
    background-color: #b71c1c; /* 深一点的红色，与链接hover状态一致 */
    outline: none; /* 移除焦点时的外框 */
}

.container {
    flex-grow: 1;
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.container h2 {
    color: #d32f2f;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
    margin-top: 0;
}

#userInfo p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

#userInfo p strong {
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #efefef;
    color: #555;
    font-size: 14px;
    margin-top: auto; /* Pushes footer to the bottom */
} 